<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - TYPO3 Sitepackage Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700,200italic,400italic,700italic' rel='stylesheet' type='text/css'>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>

    <header class="navbar navbar-dark bg-darker navbar-expand-lg" role="banner">
        <div class="container">
            <a class="navbar-brand" href="{{ path('default_index') }}">
                S/PKG/BLD
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="navbarNav" class="collapse navbar-collapse">
                {{
                    knp_menu_render(
                        'mainnavigation',
                        {
                            'currentClass': 'active',
                            'listClass': 'nav navbar-nav',
                            'listItemClass': 'nav-item',
                            'template':'menu/navbar.html.twig'
                        }
                    )
                }}
                <ul class="nav navbar-nav ms-lg-auto">
                    <li class="nav-item first">
                        <a href="https://github.com/benjaminkott/packagebuilder" target="_blank" rel="noopener noreferrer" class="nav-link">
                            GitHub
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {% for key, flashMassages in app.session.flashBag.all %}
        <div class="content-section content-section-none">
            <div class="alert-pagegroup">
                {% for flashMassage in flashMassages %}
                    <div class="alert alert-{{ key }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flashMassage }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <main class="main">
        {% block body %}{% endblock %}
    </main>

    <footer class="footer">

        {% frame with { backgroundColor: 'dark', options: ['indent', 'center'] } %}
            <h2>About the Author</h2>
            <figure class="figure">
                <img src="https://www.gravatar.com/avatar/{{ template.author.hash }}?s=120" class="figure-img rounded-circle center-block" alt="{{ template.author.name }}" />
            </figure>
            <h3>
                {{ template.author.name }}
            </h3>
            <p>
                {{ template.author.description | raw }}
            </p>
            <p>
                {% if template.author.github %}
                    <a href="https://www.github.com/{{ template.author.github }}" class="btn btn-outline-primary">
                        {{ contentget( 'images/github.svg' ) }}
                        <span class="btn-text">GitHub</span>
                    </a>
                {% endif %}
                {% if template.author.x %}
                    <a href="https://x.com/{{ template.author.x }}" class="btn btn-outline-primary">
                        {{ contentget( 'images/x.svg' ) }}
                        <span class="btn-text">@{{ template.author.x }}</span>
                    </a>
                {% endif %}
            </p>
        {% endframe %}

        {% frame with { backgroundColor: 'darker', options: ['indent', 'center'] } %}
            <p class="mb-1">
                &copy; Benjamin Kott {{ 'now'|date('Y') }}
            </p>
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('default_imprint') }}">Imprint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('default_privacy') }}">Privacy</a>
                    </li>
                </ul>
            </nav>
        {% endframe %}
    </footer>

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BH2RGNELV1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-BH2RGNELV1');
    </script>

</body>
</html>
