<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Sitepackage Generator{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/sitepackagegenerator/icons/favicon.ico') }}" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700,200italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/sitepackagegenerator/css/theme.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body>

    <header class="navbar navbar-dark navbar-static-top bg-inverse" role="banner">
        <div class="clearfix">
            <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
                &#9776;
            </button>
            <a class="navbar-brand hidden-sm-up" href="/">
                S/PKG/BLD
            </a>
        </div>
        <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
            <nav>
                <a class="navbar-brand hidden-xs-down" href="/">
                    S/PKG/BLD
                </a>
                {{
                    knp_menu_render(
                        'SitepackageGeneratorBundle:MenuBuilder:mainMenu',
                        {
                            'currentClass': 'active',
                            'listClass': 'nav navbar-nav',
                            'listItemClass': 'nav-item',
                            'template':'SitepackageGeneratorBundle:Menu:Navbar.html.twig'
                        }
                    )
                }}
            </nav>
        </div>
    </header>

    <main class="main">
        {% block body %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="content-section content-section-small content-layout-secondary">
            <div class="container-fluid  text-xs-center">
                <p class="m-b-1">
                    &copy; Benjamin Kott 2016
                </p>
                <nav class="nav nav-inline">
                    <a class="nav-link" href="/imprint/">Imprint</a>
                    <a class="nav-link" href="/privacy/">Privacy</a>
                </nav>
            </div>
        </div>
    </footer>

    <script src="{{ asset('bundles/sitepackagegenerator/javascript/libs/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/sitepackagegenerator/javascript/libs/tether.min.js') }}"></script>
    <script src="{{ asset('bundles/sitepackagegenerator/javascript/libs/bootstrap.min.js') }}"></script>

    {% block javascripts %}{% endblock %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-77390203-1', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script>

</body>
</html>
